!!!
%html
  %head
    %title Bug Schedule
    %link(rel="stylesheet" href="css/styles.css")
    = include_gon
  %body
    %h1.title
      Bug Schedule


    %div.sidebar
      %ul
        %li
          Select an Engineer: 
          %select#dropdown
            %option
              \---
            - @engineerList.each do |engineer|
              %option(value=engineer)
                = engineer
            %option
              None
        %li
          %a#save(href="/save")
            Save All Changes
        %li
          %a#revert(href="/revert")
            Revert All Changes

    %div.monthBar
      %a#previousMonth(href='#')
        Previous
      %h1#currentMonth
        Month
      %a#nextMonth(href='#')
        Next
    %div.main
      %table.scheduledEngineer
        %tr
          %th
            %div.days#command
              Assigned Engineer
        %tr
          %td
            %a.engineerEntry#e0
              None
        %tr
          %td
            %a.engineerEntry#e1
              None
        %tr
          %td
            %a.engineerEntry#e2
              None
        %tr
          %td
            %a.engineerEntry#e3
              None
        %tr
          %td
            %a.engineerEntry#e4
              None

      %table.calander
        %tr
          %th
            %div.day
              Su
          %th
            %div.day
              Mo
          %th
            %div.day
              Tu
          %th
            %div.day
              We
          %th
            %div.day
              Th
          %th
            %div.day
              Fr
          %th
            %div.day
              Sa
        %tr#row0
          %td
            %div.content#0x0
              0
          %td
            %div.content#0x1
              0
          %td
            %div.content#0x2
              0
          %td
            %div.content#0x3
              0
          %td
            %div.content#0x4
              0
          %td
            %div.content#0x5
              0
          %td
            %div.content#0x6
              0
        %tr#row1
          %td
            %div.content#1x0
              0
          %td
            %div.content#1x1
              0
          %td
            %div.content#1x2
              0
          %td
            %div.content#1x3
              0
          %td
            %div.content#1x4
              0
          %td
            %div.content#1x5
              0
          %td
            %div.content#1x6
              0
        %tr#row2
          %td
            %div.content#2x0
              0
          %td
            %div.content#2x1
              0
          %td
            %div.content#2x2
              0
          %td
            %div.content#2x3
              0
          %td
            %div.content#2x4
              0
          %td
            %div.content#2x5
              0
          %td
            %div.content#2x6
              0
        %tr#row3
          %td
            %div.content#3x0
              0
          %td
            %div.content#3x1
              0
          %td
            %div.content#3x2
              0
          %td
            %div.content#3x3
              0
          %td
            %div.content#3x4
              0
          %td
            %div.content#3x5
              0
          %td
            %div.content#3x6
              0
        %tr#row4
          %td
            %div.content#4x0
              0
          %td
            %div.content#4x1
              0
          %td
            %div.content#4x2
              0
          %td
            %div.content#4x3
              0
          %td
            %div.content#4x4
              0
          %td
            %div.content#4x5
              0
          %td
            %div.content#4x6
              0
    %script(src="scripts/myscript.js")