!!!
%html
  %head
    %title Bug Schedule
    %link(rel="stylesheet" href="http://yui.yahooapis.com/2.8.0r4/build/reset/reset-min.css")
    %link(rel="stylesheet" href="css/styles.css")
  %body
    %h1.title
      Bug Schedule

    %div.calander
      %div.monthBar
        %a#previousMonth
          Previous
        %h1#currentMonth
          Month
        %a#nextMonth
          Next
      %table
        %tr#days
          %th
            %div.day
              Su
          %th
            %div.day
              Mo
          %th
            %div.day
              Tu
          %th
            %div.day
              We
          %th
            %div.day
              Th
          %th
            %div.day
              Fr
          %th
            %div.day
              Sa
        %tr#row1
          %td
            %div.content#1.1
              0
          %td
            %div.content#1.1
              0
          %td
            %div.content#1.1
              0
          %td
            %div.content#1.1
              0
          %td
            %div.content#1.1
              0
          %td
            %div.content#1.1
              0
          %td
            %div.content#1.1
              0
        %tr#row2
          %td
            %div.content#2.1
              0
          %td
            %div.content#2.1
              0
          %td
            %div.content#2.1
              0
          %td
            %div.content#2.1
              0
          %td
            %div.content#2.1
              0
          %td
            %div.content#2.1
              0
          %td
            %div.content#2.1
              0
        %tr#row3
          %td
            %div.content#3.1
              0
          %td
            %div.content#3.1
              0
          %td
            %div.content#3.1
              0
          %td
            %div.content#3.1
              0
          %td
            %div.content#3.1
              0
          %td
            %div.content#3.1
              0
          %td
            %div.content#3.1
              0
        %tr#row4
          %td
            %div.content#4.1
              0
          %td
            %div.content#4.1
              0
          %td
            %div.content#4.1
              0
          %td
            %div.content#4.1
              0
          %td
            %div.content#4.1
              0
          %td
            %div.content#4.1
              0
          %td
            %div.content#4.1
              0
        %tr#row5
          %td
            %div.content#5.1
              0
          %td
            %div.content#5.1
              0
          %td
            %div.content#5.1
              0
          %td
            %div.content#5.1
              0
          %td
            %div.content#5.1
              0
          %td
            %div.content#5.1
              0
          %td
            %div.content#5.1
              0

    #side_bar
      %h1 Side Bar
      %p
        This is the side bar of the webpage
    %script(src="scripts/myscript.js")